

body{
    background-color: rgb(32, 35, 36);
   font-family:'Nunito', sans-serif;
   font-size:2rem
    }


header{
    width: 100%;
}

nav{
    background-color: rgb(14, 15, 15);
    width: 100%;
    display: flex;
    position: relative;
}

.Categorias{
    text-decoration: none;
    color: rgb(1, 246, 3);
    font-family: 'Nunito', sans-serif;
    font-size: 160%;
    width: 100%;
    padding: 0 20px;
    }

#categorias ul{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: rgb(1, 246, 3);
}

ul:visited{
    color:blue;
}

ul{
    list-style: none;
}

.logo{
    width: 120px;
    height: 120px;  
}

h1 {  
    color: rgb(1, 246, 3);
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    height: 10x;
}

h3 {  
    color: rgb(1, 246, 3);
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    height: 90px;
}

.Ubicacion{
    color: black;
    display: flex;
    width: 100%;
    background-color: rgb(1, 246, 3);
    font-family: 'Nunito', sans-serif;
    justify-content: center;
    text-decoration: none;
}

.envio {
    color: black;
    display: flex;
    width: 100%;
    background-color: rgb(1, 246, 3);
    font-family: 'Nunito', sans-serif;
    justify-content: center;
    text-decoration: none;
}

h2 {  
    color: rgb(1, 246, 3);
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    height: 90px;
}

p{
    color: rgb(0, 0, 0);
}

.redes {  
    color: rgb(1, 246, 3);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    height: 45px;
}

.producto img  {
    width: 500px;
    max-height: 500px;
}

/* ESTO ES EL MAIN*/
.ListaDeProductos{
    display: flex;
    position: relative;
}

.producto{
    max-height: 300px;
}

.main{
position: relative;
}


.grid-container{
    position: relative;
    display: grid;
/* AUTO COMO UNIDAD DE MEDIDA */
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: repeat(3,100px);

/* ROW Y COLUM GAP PARA ESPACIADO */
    row-gap: 10px;
    column-gap: 10px;
    height: 450px;
}

.grid-container .grid-item{
    font-size: 21px;
    padding: 5px;
}

/* ESTO ES PARA QUE TODAS LAS FOTOS TENGAN LAS MISMAS MEDIDAS*/
.grid-container img{
    width: 90%;
    height: 100%;
}

.uno{
    grid-column: 1 / 2;
    grid-row: 1 / 4 ;
}

.dos{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}

.tres{
    grid-column: 3 / 4 ;
    grid-row: 1 / 4;
}

.cuatro{
    grid-column: 4 / 5;
    grid-row: 1 / 4 ;
}

.parrafo{
    position: relative;
}

